#hover1:hover {
    color: black;
    border-bottom: 1px solid brown;
}

.textNav h1 {
    font-size: 30px;
    font-weight: 900;
    -webkit-text-stroke: 2px white;
    color: transparent;
    text-align: center; /* Center the text on all screens */
}

#headerimg1 {
    width: 250px;
}

#headerimg1 img {
    padding-top: 10px;
    width: 39%;
    height: auto;
    display: flex;
    border-radius: 50%;
    box-shadow: cornsilk;
    box-sizing: content-box;
    padding-bottom: 5px;
}

@media (min-width: 362px) and (max-width: 720px) {
    /* Display the image and text on mobile screens */
    #headerimg1 img {
        display: block;
        margin: 0 auto; /* Center the image horizontally on mobile screens */
    }

    /* Center the text on mobile screens */
    .textNav h1 {
        font-size: 24px; /* Adjust the font size as needed */
    }

    .MuiButton-root {
        display: block;
        margin: 10px auto; /* Center the buttons horizontally with some spacing */
        width: 80%; /* Adjust the button width as needed */
        background-color: #B22222; /* Button background color */
        color: white; /* Button text color */
        border: none; /* Remove button border */
        border-radius: 5px; /* Add border radius if desired */
        padding: 10px; /* Adjust padding as needed */
        text-align: center; /* Center button text */
        text-decoration: none; /* Remove button text underline */
        font-weight: 500; /* Adjust font weight as needed */
        font-size: 16px; /* Adjust font size as needed */
    }
}
