#hover1:hover {
    color: black;
    border-bottom: 1px solid brown;
    color: black;
    border-bottom: 1px solid black;
}

.textNav h1 {
    font-size: 30px;
    font-weight: 900;
    -webkit-text-stroke: 2px white;
    color: transparent;
}

#headerimg1 {
    width: 100%;
    max-width: 80px; /* Adjust the width as needed */
    height: auto;
    border-radius: 50%;
    box-shadow: cornsilk;
    padding: 5px;
}

@media (min-width: 362px) and (max-width: 720px) {
    #headerimg1 {
        max-width: 60px; /* Adjust the width as needed for mobile */
    }

    .textNav h1 {
        text-align: center;
        font-size: 24px;
    }

    /* Hide the academy name on mobile screens */
    .textNav h1 {
        display: none;
    }

    .MuiButton-root {
        display: block;
        margin: 10px auto;
        width: 80%;
        background-color: #B22222;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
    }
}
